.body {
    background-color: #47476b;
}

.block {
    display: flex;
    align: right;

}

.container {
    width: 500px;
}

.title {

    color: #68FF00;
    font-family: "Lucida Console", "Courier New", monospace;

}

