<!DOCTYPE html>
<html lang="en">
<!--<link href="css/styles.css" rel="stylesheet" />-->
<head>
    <meta charset="UTF-8">
    <title>Streaming</title>
</head>
<body style="background-color:#616568">


<div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
    <h1 style="color:white; text-align:center; font-family:Tahoma;font-size:20px;" >Live streaming of Shibuya&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>

    <h1 style="color:white; text-align:center; font-family:Tahoma">{{ count }}</h1>

</div>



<div align="center">
    <img src="{{ url_for('video_feed') }}">
</div>



</body>
</html>